{% extends "base.html.twig" %}

{% block title %}Start a New Board{% endblock %}

{% block body %}

<div class="content">
    <div class="pure-g">
        <div class="pure-u-1">
            <h1>/{{board.abbreviation}}/ - {{board.name}} - Start a New Board</h1>
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1-1 text-center">
            {{form(form)}}
        </div>
    </div>
</div>

{% endblock %}
